<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640702612599-udob7bk1onc3jd3bd7lf7n1nalogh5ur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640702612599-udob7bk1onc3jd3bd7lf7n1nalogh5ur</string>
	<key>API_KEY</key>
	<string>AIzaSyCmuzTTslswqTZ9DuP7VDMBO6UqG_uIya0</string>
	<key>GCM_SENDER_ID</key>
	<string>640702612599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>capitalflowai-62f4a</string>
	<key>STORAGE_BUCKET</key>
	<string>capitalflowai-62f4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640702612599:ios:cd6edaad9a0ddb41cf7272</string>
</dict>
</plist>